<button
    *ngIf="!!dragTravel"
    mat-raised-button
    color="warn"
    class="card__button delete"
    (click)="deleteMessage()"
    (touch)="deleteMessage()"
    [style.width]="buttonWidth">
        <mat-icon>delete</mat-icon>
        Delete
</button>

<mat-card
    class="card"
    [style.transform]="dragTravelCssValue"
    [style.width]="widthCssValue"
    (mousedown)="handleClick($event)"
    (mouseup)="handleClick($event)"
    (mousemove)="handleClick($event)"
    (touchstart)="handleTouch($event)"
    (touchend)="handleTouch($event)"
    (touchmove)="handleTouch($event)"
    >
    <mat-card-header>
        <div
            mat-card-avatar
            class="card__header-image">
            <img
                mat-card-image
                src="photoUrl"
                alt="author">
        </div>
        <mat-card-title>{{author}}</mat-card-title>
        <mat-card-subtitle>{{updatedAt | dateAgo }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{content}}</p>
    </mat-card-content>
</mat-card>

<button
    *ngIf="!!dragTravel"
    mat-raised-button
    color="primary"
    class="card__button edit"
    (click)="editMessage()"
    (touch)="editMessage()"
    [style.width]="buttonWidth">
        <mat-icon>edit</mat-icon>
        Edit
</button>