:host {
    background-color: #e6e6e6;
    display: block;
    
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 576px;
    
        @media (min-width: 768px) {
            max-width: 720px;
        }
    }
    
    .card{
        margin: 16px 8px;
        &__wrapper{
            margin-top: 48px;
        }
    }

    .loader{
        display: flex;
        justify-content: center;
        transform: scale(0);
        transition: all 0.2s ease-out;

        &.show {
            transform: scale(1);
        }
    }
    
    ::ng-deep {
        .mat-card-avatar {
            overflow: hidden;
        }
    }
}