:host {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .d-flex {
        display: flex;
    }

    .align-items-center {
        align-items: center;
    }

    .overflow-hidden {
        overflow: hidden !important;
    }

    mat-toolbar {
        min-height: 56px;
    }
    
    .container {
        flex-grow: 1;
        overflow: auto;
    }

    .loader{
        display: flex;
        justify-content: center;
        transform: scale(0);
        transition: all 0.2s ease-out;

        &.show {
            transform: scale(1);
            height: initial;
        }
    }
}

::ng-deep {
    mat-toolbar {
        .mat-icon-button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}