<mat-toolbar color="primary">
  <div class="container">
    <button mat-icon-button class="menu-icon" aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Messages</span>
  </div>
</mat-toolbar>

<section class="container card__wrapper"
  [class.overflow-hidden]="isSwiping">
  <ng-container *ngFor="let message of messages">
    <!-- message.author.photoUrl -->
    <app-card
      [author]="message.author.name"
      [content]="message.content"
      [photoUrl]="'https://picsum.photos/40/40'"
      [updatedAt]="message.updated"
      (swiping)="isSwiping = $event"
    ></app-card>
  </ng-container>
</section>

<section #loader class="loader" [class.show]="this.isLoadingMessages">
  <mat-spinner></mat-spinner>
</section>